<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zc.schoolinfo.dao.BizCompetitionInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zc.schoolinfo.model.pojo.BizCompetitionInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="cover_image" property="coverImage" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="top" property="top" jdbcType="BIT" />
    <result column="scope" property="scope" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="original" property="original" jdbcType="BIT" />
    <result column="keywords" property="keywords" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="BIT" />
    <result column="comment_numbers" property="commentNumbers" jdbcType="INTEGER" />
    <result column="view_numbers" property="viewNumbers" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, author, cover_image, summary, content, top, scope, type, status, original, 
    keywords, comment, comment_numbers, view_numbers, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from biz_competition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from biz_competition_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from biz_competition_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfoExample" >
    delete from biz_competition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfo" >
    insert into biz_competition_info (id, title, author, 
      cover_image, summary, content, 
      top, scope, type, status, 
      original, keywords, comment, 
      comment_numbers, view_numbers, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{coverImage,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
      #{top,jdbcType=BIT}, #{scope,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
      #{original,jdbcType=BIT}, #{keywords,jdbcType=VARCHAR}, #{comment,jdbcType=BIT}, 
      #{commentNumbers,jdbcType=INTEGER}, #{viewNumbers,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfo" >
    insert into biz_competition_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="coverImage != null" >
        cover_image,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="scope != null" >
        scope,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="original != null" >
        original,
      </if>
      <if test="keywords != null" >
        keywords,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="commentNumbers != null" >
        comment_numbers,
      </if>
      <if test="viewNumbers != null" >
        view_numbers,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="coverImage != null" >
        #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        #{top,jdbcType=BIT},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        #{original,jdbcType=BIT},
      </if>
      <if test="keywords != null" >
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=BIT},
      </if>
      <if test="commentNumbers != null" >
        #{commentNumbers,jdbcType=INTEGER},
      </if>
      <if test="viewNumbers != null" >
        #{viewNumbers,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfoExample" resultType="java.lang.Integer" >
    select count(*) from biz_competition_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update biz_competition_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.coverImage != null" >
        cover_image = #{record.coverImage,jdbcType=VARCHAR},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.top != null" >
        top = #{record.top,jdbcType=BIT},
      </if>
      <if test="record.scope != null" >
        scope = #{record.scope,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.original != null" >
        original = #{record.original,jdbcType=BIT},
      </if>
      <if test="record.keywords != null" >
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null" >
        comment = #{record.comment,jdbcType=BIT},
      </if>
      <if test="record.commentNumbers != null" >
        comment_numbers = #{record.commentNumbers,jdbcType=INTEGER},
      </if>
      <if test="record.viewNumbers != null" >
        view_numbers = #{record.viewNumbers,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update biz_competition_info
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      cover_image = #{record.coverImage,jdbcType=VARCHAR},
      summary = #{record.summary,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      top = #{record.top,jdbcType=BIT},
      scope = #{record.scope,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      original = #{record.original,jdbcType=BIT},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=BIT},
      comment_numbers = #{record.commentNumbers,jdbcType=INTEGER},
      view_numbers = #{record.viewNumbers,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfo" >
    update biz_competition_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="coverImage != null" >
        cover_image = #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=BIT},
      </if>
      <if test="scope != null" >
        scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="original != null" >
        original = #{original,jdbcType=BIT},
      </if>
      <if test="keywords != null" >
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=BIT},
      </if>
      <if test="commentNumbers != null" >
        comment_numbers = #{commentNumbers,jdbcType=INTEGER},
      </if>
      <if test="viewNumbers != null" >
        view_numbers = #{viewNumbers,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zc.schoolinfo.model.pojo.BizCompetitionInfo" >
    update biz_competition_info
    set title = #{title,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      top = #{top,jdbcType=BIT},
      scope = #{scope,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      original = #{original,jdbcType=BIT},
      keywords = #{keywords,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=BIT},
      comment_numbers = #{commentNumbers,jdbcType=INTEGER},
      view_numbers = #{viewNumbers,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getCompetitionByPage" parameterType="com.zc.schoolinfo.model.dto.CompetitionQueryDTO" resultMap="BaseResultMap">
    select * from biz_competition_info where 1=1
    <if test="scope != null and scope != '' and scope !='不限' " >
      and scope=#{scope}
    </if>
    <if test="type != null and type.size > 0" >
      and type in
      <foreach item="item" collection="type" separator="," open="(" close=")" index="">
        #{item}
      </foreach>
    </if>
    <if test="sort != null and sort != '' " >
      <if test="sort ==1">
        order by create_time
      </if>
      <if test="sort ==2">
        order by view_numbers
      </if>
    </if>
  </select>

  <resultMap id="hotTitleMap" type="map">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="cover_image" property="coverImage" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" typeHandler="com.zc.schoolinfo.common.utils.EmptyStringIfNull" />
  </resultMap>
  <select id="getHotTitle" parameterType="java.lang.String" resultMap="hotTitleMap">
        select id,title,cover_image,summary,create_time from biz_competition_info where scope=#{type} order by view_numbers limit 10
  </select>

  <update id="raiseViewNumbers" parameterType="java.lang.Integer">
    update biz_competition_info set view_numbers=view_numbers+1 where id =#{id}
  </update>

  <select id="getTypeList" resultType="java.util.Map">
    select id,name from biz_competition_tags;
  </select>
</mapper>